body{
    background-color: rgb(203, 215, 218);
}

hr{
    border-style: none;
    border-bottom-style: dotted ;
    border-color: grey;
    border-width: 10px;
    width: 5% ;
}
h3{
color: #66bfbf ;
}
    
h1{
    color:#66bfbf;
}